{% extends "base.html" %}
{% load static %}

{% block title %}
  Portfol.io
{% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">

<h3 class="ml-3 mt-2">P.io</h3>

<div class="container-fluid mt-5 px-5">
  <div class="row top-section">
    <div class="col-auto">
      <div class="row">
        <div class="col-auto">
          <h6>Profie Image</h6>
        </div>
        <div class="col-auto ml-auto pt-2">
          <button class="btn py-0 px-0"><h3 style="line-height:0%;">+</h3></button>
        </div>
      </div>
      <div class="card photo-box">
        <div class="card-body">
          &#128100;
        </div>
      </div>
    </div>
    <div class="col-6 mx-4">
      <div class="row">
        <div class="col-auto">
          <h6>Personal Bio</h6>
        </div>
        <div class="col-auto ml-auto pt-2">
          <button class="btn py-0 px-0"><h3 style="line-height:0%;">+</h3></button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-auto">
          <h6>Education</h6>
        </div>
        <div class="col-auto ml-auto pt-2">
          <button class="btn py-0 px-0"><h3 style="line-height:0%;">+</h3></button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock content %}