{% extends "base.html" %}
{% load static %}

{% block title %}
Portfol.io
{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/post_edit.css' %}">


<div class="container" id="abstract_container">
    <div class="row">
        <div class="col col-sm-12 col-md-7">
            <h3 class="title">Abstract</h3>
            <textarea class="form-control" rows="3" placeholder="Describe project here" required></textarea>
        </div>
        <div class="col-sm-12 col-md-5">
            <h3 class="title">Github Repo</h3>
            <input class="form-control" type="text" placeholder="https://github.com/<your_username_here>">
            <br>
            <h3 class="title">Add Tags</h3>
            <div id="pill_holder">
                <span class="badge badge-pill badge-primary">HTML</span>
                <span class="badge badge-pill badge-primary">CSS</span>
                <span class="badge badge-pill badge-primary">Java Script</span>
            </div>

        </div>
    </div>
</div>
<div class="container" id="main_container">
    <h3 class="title">Main Post</h3>
    <div id="editor_main" class="editor_body">
        <p><br></p>
    </div>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="col-sm-2">
        <a href="{% url 'new_profile1' %}"><button type="button" class="btn btn-primary">Return to Profile</button></a>
    </div>
    <div class="col-sm-2">
        <a href="{% url 'post_view' %}"><button type="button" class="btn btn-primary" style="float: right">Save</button></a>
    </div>
</nav>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script>
    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'direction': 'rtl' }],                         // text direction

        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['image'],

        ['clean']                                         // remove formatting button
    ];

    var quill = new Quill('#editor_main', {
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });

    /*var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'direction': 'rtl' }],                         // text direction

        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['image'],

        ['clean']                                         // remove formatting button
    ];

    var quill2 = new Quill('#abstract_main', {
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });*/
</script>

{% endblock content %}