body {
	background-color: #0e5b9f;
	height: 100%;
}

.nav-bar {
	background-color: white;
	color: black;
	height: 69px;
}

.btn-nav {
	color: #454545;
	background-color: #d6d6d6;
}

button:focus {
	outline:0;
}
